.repo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ec4354;
  border-top: 2px solid #ec4354; 
  margin: 20px 0;
}

.repo-count,
.repo-about,
.repo-state {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.txt-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.date-info {
  text-align: center;
}

.li-item {
  list-style: none;
  margin-left: 10px;
}

.text-sm {
  text-decoration: none;
  border: 1px solid #545e6f;
  border-radius: 3px;
  padding: 3px 5px;
  background: #ec4354;
}

.dt-container,
.txt-container,
.li-container {
  border-bottom: 1px solid #ec4354;
}

.singlerepo-img {
  margin-top: 20px;
}