.repo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repo-count,
.repo-about,
.repo-state {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.li-item {
  list-style: none;
  margin-left: 10px;
}

.text-sm {
  text-decoration: none;
}
